---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        {% endif %}
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endfor %}
      <a href="/about/">Sobre</a>
    </div>
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
    /* round time values */
    $(document).ready(function() {
    $(".time").text(function (index, value) {
      return Math.round(parseFloat(value));
    });
    $(".hour").text(function (index, value) {
      return Math.floor(parseFloat(value));
    });
  });
</script>

<main class="content" role="main">

    <h5 class="index-headline normal"><span>Posts</span></h5>

    <div class="cf frame">
      {% for post in paginator.posts %}

        {% if site.readtime %}
          {% if site.wpm %}
            {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | split:'.' | first | divided_by:site.wpm %}
          {% else %}
            {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | split:'.' | first | divided_by:180 %}
          {% endif %}
        {% endif %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <div class="date-column">
              <div class="post-meta">
                <time datetime="{{ post.date | date_to_long_string }}">
                  <span class="day">
                    {{ post.date | date: "%d" }}
                  </span>
                  <span class="month-year">
                    {{ post.date | date: "%b %Y" }}
                  </span>
                </time>
              <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
              </div>
            </div>
            <div class="post-column">
              <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" itemprop="url">{{ post.title }} <small>{{ post.subtitle }}</small></a></h2>
              </header>
              <section class="post-excerpt" itemprop="description">
                <p>{{ post.excerpt | strip_html | truncatewords: 50 }}...</p>
              </section>
              <div class="post-meta-tags">
                <ul class="markers">                
                  {% for tag in post.categories %}
                    <li><a href="{{ site.url }}/categories/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag }} category"><i class="fa fa-tags"></i> {{ tag }}</a></li>
                  {% endfor %}
                 
                  {% if site.readtime %}
                    <li>
                      <a href="{{ site.url }}{{ post.url }}">
                        <i class="fa fa-clock-o"></i>
                          {% if readtime > 1 and readtime < 1.5 %}
                            1 minuto de leitura
                          {% endif %}
                          {% if readtime > 1.5 %}
                            <span class="time">{{ readtime }}</span> minutos de leitura
                          {% endif %}
                          {% if readtime <= 1 %}
                            Menos de 1 minuto de leitura
                          {% endif %}
                      </a>
                  {% endif %}

                  {% if post.featured %}
                    <li>
                    &nbsp;<a href="{{ site.url }}/featured/"><i class="fa fa-star-half-o fa-spin"></i> Featured</a>
                    </li>
                  {% endif %}

                   <li><a href="{{ site.url }}{{ post.url }}#disqus_thread"></a></li>

                </ul>
              </div>
            </div>
          <div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Mais antigos</a>
      {% endif %}
      <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Mais recentes &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Mais recentes &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>

{% include disqus/count.html %}
